@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 400;
  src: url('ux/fonts/yanone-kaffeesatz.woff') format('woff');
}

@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: url('ux/fonts/droid-serif.woff') format('woff');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: url('ux/fonts/source-code-pro.woff') format('woff');
}

body {
    font-family: 'Droid Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Songti SC', serif;
}

h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz', 'Palatino Linotype', 'Book Antiqua', Palatino, 'STHeiti', 'SimHei', 'Microsoft YaHei';
  font-weight: normal;
}

.remark-code,
.remark-inline-code,
.book .book-body .page-wrapper .page-inner section.normal code { 
    font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace;
    background-color: transparent;
}

.book .book-body .page-wrapper .page-inner {
    max-width: 960px;
}

.book .book-body .page-wrapper .page-inner section.normal {
    overflow: auto;
}

.book .book-body .page-wrapper .page-inner section.normal table td, .book .book-body .page-wrapper .page-inner section.normal table th {
  padding: 6px 13px;
  border: 1px solid #ddd;
  white-space: nowrap;
  text-align: left;
}
