@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/source-code-pro.woff') format('woff');
}

h1, h2, h3 {
  font-weight: normal;
}

.remark-code,
.remark-inline-code,
.book .book-body .page-wrapper .page-inner section.normal code { 
    font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace;
    background-color: transparent;
    /* background-color: #f7f7f7; */
}

.book .book-body .page-wrapper .page-inner section.normal code:after, .book .book-body .page-wrapper .page-inner section.normal code:before {
    content: "";
}

#dist {
  overflow: auto;
}

.book .book-body .page-wrapper .page-inner section.normal table td, .book .book-body .page-wrapper .page-inner section.normal table th {
  padding: 6px 13px;
  border: 1px solid #ddd;
  white-space: nowrap;
  text-align: left;
  font-size: 85%;
}
