[Unit]
Description=Jupyter Notebook Server

[Service]
Type=simple
Environment="LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/lib"
Environment="PATH=/usr/local/bin:/usr/bin:$PATH"
#Environment="MY_JUPYTER_HOME=/server/proj/py-lrn"
ExecStart=/server/proj/.env/py-lrn/bin/jupyter notebook --ip=0.0.0.0 --no-browser
User=yang
Group=yang

[Install]
WantedBy=multi-user.target
